* {
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: 'Oldschool Grotesk Light';
    src: url('fonts/Oldschool Grotesk Light.otf') format('truetype'), url('fonts/NewYorkLarge-Bold.otf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}
.header {
    display: flex;
    justify-content: space-around;
    font-family: Oldschool Grotesk Light;
    font-size: 24px;
    color:#E9D4F2;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-color: #49366B;
}
.header-link{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Oldschool Grotesk Light;
    color: #E5E7EB;
    font-size: 18px; 
    font-weight: lighter;
}
.wallpaper-one {
    background-color: #49366B;
    height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #574779;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 30px;
    opacity: 0.9;
}
.front-texts-div {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    gap: 10px;
    width: 480px;
    flex:  0 1 auto;
    color:  #E9D4F2;
    padding: 30px;
}
.main-text {
    font-family: Oldschool Grotesk Light;
    font-weight: bolder;
    font-size: 48px;
    color:  #E9D4F2;
    line-height: 60px;
}

.secondary-text {
    font-family: Oldschool Grotesk Light;
    color: #E9D4F2;
    font-size: 18px;
}
.sign-up {
    background-color: #C3A8DC;
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-family: Oldschool Grotesk Light;
    font-size: 18px;
    font-weight: bold;
    color: #574779;
    box-shadow: 0px 0px 0px 0px #C3A8DC;
}
.main-div .prophet {
    width: 300px;
    border-radius: 40px;
    flex: 1 0 auto;
    padding-bottom: 20px;
}
.information-header-text {
    font-family: Oldschool Grotesk Light;
    font-weight: bolder;
    font-size: 48px;
    color: #E9D4F2;
    text-align: center;
}
.second-page-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 115px;
    background-color: #49366B;
    background-image: url('images/ash1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nanosuit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #574779;
    border-radius: 30px;
    padding: 50px;
    opacity: 0.9;
}
.placeholder {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.box {
    border: 2px solid #B0ACC7;
    border-radius: 20px;
    background-color: #574779;
}
.img-prophet {
    width: 200px;
    border-radius: 20px;
}
.wallpaper-three {
    background-color: #E9D4F2;
}
.third-page-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 135px;
    background-color: #574779;
}
.qoute-text {
    font-family: Oldschool Grotesk Light;
    color: #E9D4F2;
    font-size: 36px;
    font-style: italic;
}
.author-prophet {
    font-family: Arial;
    font-size: 18px;
    color: #1F2937;
    font-weight: bolder;
    text-align: right;
    color: #E9D4F2;
}
.fourth-page-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
    background-color: #49366B;
}
.card {
    background-color: #574779;
    border-radius: 8px;
    width: 800px;
    padding: 30px;
    font-family: Oldschool Grotesk Light;
    font-size: 18px;
    font-weight: bold;
    color: #E9D4F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.primary-text {
    font-family: Oldschool Grotesk Light;
    font-weight: bolder;
    font-size: 28px;
    color: #E9D4F2;
}
.subtext {
    font-family: Arial;
    color: #E9D4F2;
    font-size: 18px;
}
.secondary-sign-up {
    border-radius: 8px;
    width: 90px;
    padding: 7px;
    text-align: center;
    font-family: Oldschool Grotesk Light;
    font-size: 18px;
    font-weight: bold;
    color: #E9D4F2;
    background-color: #C3A8DC;
}
.footer {
    display: flex;
    justify-content: center;
    font-family: Oldschool Grotesk Light;
    font-size: 15px;
    color:#E9D4F2;
    padding-top: 45px;
    padding-bottom: 45px;
    align-items: center;
    background-color: #46326A;
}    